---
layout: base
---

<article class="{{ structure.g_pageWidth }}">

  <h1 class="{{ colors.headingsCustom or colors.headingsDefault }}">{{ seo.title or title }}</h1>
  <div class="text-sm {{ colors.authorCustom.date or colors.authorDefault.date}}">
    {# Global disable author display in /src/_data/structure.js #}

  </div>

  {{ layoutContent | safe }}


</article>