---
title: Über uns # will be overwritten by SEO.title below
date: 2020-08-05
layout: page
eleventyNavigation:
  key: main
  title: Über uns # as it will appear in the nav
  order: 2 # order to display in the nav
seo:
  title: Wir unterhalten und pflegen Ihre Liegenschaft
 # overrides 'title' above on both Page and META
  description: 
  image:
eleventyImport:
  collections: ["post"]
---
<p>
Die Firma Best Facility GmbH mit Sitz in Aarburg, wurde im Sommer 2018 gegründet
und aufgebaut. Die Zusammenarbeit mit Immobilien- und Liegenschaftsverwaltungen
ist über die Jahre kontinuierlich gewachsen und deckt das vielseitige Spektrum der
Hauswartung ab. Die Tätigkeiten werden seither laufend durch entsprechende Schul-
ungen ausgebaut.
</p>
<p>
Unsere Dienstleistungen beinhalten den gesamten Liegenschaftsunterhalt, wie die klas-
sische Reinigung, die Instandhaltung und Betreuung der technischen Anlagen und
Werterhaltung der Liegenschaft. Bei der Umgebungspflege legen wir Wert auf das Mähen
und die Pflege des Rasens sowie das Schneiden von Sträuchern und Hecken. Zusätzlich
bieten wir Ihnen den Winterdienst mit Glatteiskontrolle und Schneeräumung inkl.
Salzstreuung an.
</p>
<p>
Als professioneller Hauswartungsbetrieb haben wir uns spezialisiert auf kleinere und
mittelgrosse Liegenschaften und bieten unsere Unterhaltsarbeiten im Umkreis von rund
20 Kilometern um die Region Aarburg resp. Olten an.
</p>
<p>
Bei der Ausführung der fachgerechten Arbeiten in den Liegenschaften legen wir Wert auf
die Vermeidung von Personen- und Sachschäden, primär durch entsprechende Über-
wachung und Kontrolltätigkeit. Zusätzlich bieten wir unseren Vertragspartnern auf
Wunsch einen 24-Stunden Pikett-Dienst an, um auf allfällige Vorkommnisse schnellst-
möglich zu reagieren.
</p>
<p>
Das Team von Best Facility freut sich, Ihnen zusätzlich mehr Lebenskomfort zu bieten.
</p>

{%- block accordion -%}
  {%- include "components/accordion.njk" -%}
{%- endblock -%}

